seye
config.json
scans.json
testingOutput/
.scans
records.json

# Ignore binaries built with `go build -o ./bin/dirt ./cmd/cli && ./bin/dirt` and `go build -o ./bin/daemon ./cmd/daemon && ./bin/daemon`
bin/ 

.DS_Store